@import 'variables';
//reset m, p & bs
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; // changing my font size to 10px. (1rem = 10px)
}

body{
    font-family: "Josephin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;

    color: $desaturatedred;
}