@import 'variables';
//reset m, p & bs
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; // changing my font size to 10px. (1rem = 10px)
}

body{
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    background-image: $gradient1;
}
